#content .grid-row {
    display: block;
}

#content .column-two-thirds {
    width: 100%;
    max-width: 630px;
    margin: 0 auto;
    padding: 0 30px;
    float: none;
}

#content .column-one-third {
    display: none;
}

// 80px from header to "Sign in".
.heading-large {
    font-size: 48px;
    margin-top: 80px;
    margin-bottom: 40px;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: none;
}

fieldset legend,
#kc-form fieldset legend,
.form-group fieldset legend {
    font-size: 27px;
    font-weight: 700;
    width: 100%;
    max-width: none;
    margin-bottom: 40px;
    line-height: 1.25;
    display: block;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    box-sizing: border-box;
}

// Buttons.
.multiple-choice {
    display: block;
    position: relative;
    padding: 0 0 0 38px;
    margin-bottom: 15px;
    
    input[type="radio"] {
        position: absolute;
        cursor: pointer;
        left: 0;
        top: 0;
        width: 38px;
        height: 38px;
        z-index: 1;
        margin: 0;
        opacity: 0;
        
        + label {
            cursor: pointer;
            padding: 8px 10px 9px 12px;
            display: block;
            
            &::before {
                content: "";
                border: 2px solid #0b0c0c;
                background: transparent;
                width: 34px;
                height: 34px;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 50%;
            }
            
            &::after {
                content: "";
                border: 10px solid #0b0c0c;
                width: 0;
                height: 0;
                position: absolute;
                top: 9px;
                left: 9px;
                border-radius: 50%;
                opacity: 0;
            }
        }
        
        &:checked + label::after {
            opacity: 1;
        }
        
        &:focus + label::before {
            box-shadow: 0 0 0 4px #ffbf47;
        }
    }
}

#kc-form-buttons {
    margin-top: 20px;
}

// Non-poise form fields.
#non-poise-login-section {
    .form-group {
        margin-bottom: 20px;
    }
}

#non-poise-login-section p {
    margin-top: 20px;
    margin-bottom: 20px;
}

// Username field.
#username:hover {
    outline: none;
    border-color: #0b0c0c;
}

#username:focus {
    outline: 3px solid #ffbf47;
    outline-offset: 0;
}

// Poise button.
#poise-sign-in {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    
    &:hover {
        background-color: #003618;
    }
    
    &:focus {
        outline: 3px solid #ffbf47;
        outline-offset: 0;
        background-color: #00692f;
    }
}

// Mobile.
@media (max-width: 640px) {
    .heading-large {
        margin-top: 40px;
        margin-bottom: 35px;
    }
    
    fieldset legend {
        margin-bottom: 35px;
    }
}
