@charset "UTF-8";
/* GOV.UK customisations to implement beta internal header pattern (see https://home-office-digital-patterns.herokuapp.com/header) */
@media (min-width: 769px) {
  #global-header .header-wrapper .header-global .header-logo {
    width: auto; } }

.lte-ie8 #global-header .header-wrapper .header-global .header-logo {
  width: auto; }

/* Imitate #global-header #logo img (including the space after it!) from GOV.UK template, so that theme users don’t have to include the actual <img> tag in Display Name HTML when customising their header link */
#logo::before {
  content: '';
  display: inline-block;
  width: 36px;
  height: 32px;
  margin: 2px 1px 0 0;
  vertical-align: bottom;
  background: url("../vendor/govuk_template/images/gov.uk_logotype_crown_invert_trans.png?0.19.2") no-repeat;
  visibility: hidden; }

#logo:before {
  content: '';
  display: inline-block;
  width: 36px;
  height: 32px;
  margin: 2px 1px 0 0;
  vertical-align: bottom;
  background: url("../vendor/govuk_template/images/gov.uk_logotype_crown_invert_trans.png?0.19.2") no-repeat;
  visibility: hidden; }
